.nav-active {
  font-weight: bold;
  color: whitesmoke !important;
  background-color: #6da9d0 !important;
  /* margin: 0 1rem; */
}
.nav-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 15rem;
}

.post-author {
  color: darkgray;
}

.post-reply {
  display: flex;
}

.reply-author-avatar {
  max-width: 40px;
  max-height: 40px;
  margin-right: 0.5rem;
  margin-top: 0.3rem;
}

.sub-text {
  color: darkgray;
  /* font-weight: bold; */
  text-decoration: none;
}

.text-limit {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  height: 3rem;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.pagination ul {
  display: inline-block;
}

.pagination li {
  display: inline-block;
  /* margin: 10px 10px; */
  padding: 5px 10px;
  border: 1px solid darkgray;
  border-radius: 0.25rem;
}

.pagination .active {
  background-color: rgb(13, 110, 253);
  color: whitesmoke;
  border: 1px solid rgb(13, 110, 253);
  font-weight: bold;
}
